{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to the Neural Art Studio<h2>
    <h3>Here you can get an awesome pic!<h3>
      <img src="https://github.com/andersbll/neural_artistic_style/raw/master/images/tuebingen-starry_night.jpg?raw=true" height="200" />
      <div class="menu">
        <p><a href="{{ url_for('home') }}">Home</a> <a href="{{ url_for('about') }}">About</a> <a href="{{ url_for('studio') }}">Painting Studio</a></p>
      </div>
  </div>
{% endblock %}